* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato',sans-serif;
}

body {
  background: url(img/bg-sm.jpg) no-repeat center center/ cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


#add-task-container {
  width: 350px;
  padding: 20px 10px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 0 4px;

  display: flex;
}

input {
  flex: 5;
  padding: 5px;
  margin-right: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
}

#add-task {
  flex: 1;
  font-size: 1.2rem;
  padding: 5px;
  background-color: #fff;
  color: green;
  border: 2px solid green;
  border-radius: 10px;
}

#add-task:hover {
  background-color: green;
  color: #fff;
}