* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato',sans-serif;
}

body {
  background: url(img/bg-sm.jpg) no-repeat center center/ cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


#add-task-container {
  width: 350px;
  padding: 20px 10px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 0 4px;
  margin-bottom: 20px;

  display: flex;
}

input {
  flex: 5;
  padding: 5px;
  margin-right: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
}

#add-task {
  flex: 1;
  transition: .3s;
  font-size: 1.2rem;
  padding: 5px;
  background-color: #fff;
  color: green;
  border: 2px solid green;
  border-radius: 10px;
}

#add-task:hover {
  background-color: green;
  color: #fff;
}

/* tasks */
.task {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 4px;
  padding: 5px;
  margin-bottom: 5px;

  display: flex;
  justify-content: space-between;
}

.task li {
  list-style: none;
  flex: 4;
  padding: 5px;
  font-size: 1.3rem;
  margin: 10px;
}

.task button {
  flex: 1;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}

.task .checkTask {
  color: orange;
  margin-right: 5px;
  border: 2px solid orange;
  font-size: 1.5rem;
}

.task .checkTask:hover {
  color: #fff;
  background-color: orange;  
}

.task .deleteTask {
  color: red;
  border: 2px solid red;
  font-size: 1.3rem;
}

.task .deleteTask:hover {
  color: #fff;
  background-color: red;  
}