/* cascading style sheets */
/* cascading means it always takes the selector - it takes the last input that it receives for a specific selector */
/* selector {
  property: value
} */

* {
  text-align: right;
}

body {
  background-image: url(painted-leaves.jpg); 
  background-size: cover;
}

h2, p {
  color: #aa4139;
  text-align: center;
  border: 2px solid black;
  cursor: pointer;
}

p {
  color: orange;
}

li {
  list-style: none;
  /* display: inline; */
  /* display: block; */
  display: inline-block;
}

.webtext {
  border: 3px dashed green;
}

.active {
  color: red;
}

#div1 {
  background-color: rgba(0, 0, 255, 0.2);
}