body {
  background-color: darkseagreen;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main-heading {
  font-size: 30px;
  font-weight: bold;
}

li {
  font-size: 20px;
}